.card:hover {
    box-shadow: 0 0 10px 5px #efefef;
}

.card-title {
    font-weight: 700;
    font-size: 25px;
    padding: 10px 0;
}

.service-price {
    font-weight: 700;
    color: #ff776b;
}

.service-btn {
    padding: 10px 0;
    background: #ff776b;
    border: none;
    color: #fff;
    border-radius: 0 0 3px 3px;
}

.service-btn:hover {
    background: #ff3622;
}

